*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.venv
ml/modis_cloud_seeding/data
ml/__pycache__/
ml/modis_cloud_seeding/__pycache__/
*.pyc
tests/__pycache__/
data/